body {
  font-family: Helvetica:
}

nav h1 {
  font-size: 70px;
}

h1, h2, h3 {
  font-weight: bold;
}

.nav {
  background-image: url('../images/flatiron.png');
  color: white;
  text-align: center;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

.process {
  text-align: center;
}

.process h2 {
  font-size: 32px;
}

.process p {
  font-size: 14px;
}

.process h3 {
  font-size: 23px;
}

.nav h2 {
  font-size: 23px;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
